In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [109]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1602,tt0366551,9000000,23936908,Harold & Kumar Go to White Castle,John Cho|Kal Penn|Paula GarcÃ©s|Neil Patrick H...,Danny Leiner,Fast Food. High Times.,"Sometimes, it takes a strange night to put eve...",88,Comedy|Adventure,New Line Cinema,5/30/2004,6.4,2004
1710,tt0780571,20000000,41637263,Mr. Brooks,Kevin Costner|Demi Moore|Dane Cook|William Hur...,Bruce A. Evans,The man who has everything has everything to h...,A psychological thriller about a man who is so...,120,Drama|Crime|Mystery|Thriller,Tig Productions|Eden Rock Media|Element Films|...,6/1/2007,6.7,2007
212,tt1418377,65000000,71154592,"I, Frankenstein",Aaron Eckhart|Yvonne Strahovski|Bill Nighy|Jai...,Stuart Beattie,"In the battle between good and evil, an immort...","200 years after his shocking creation, Dr. Fra...",92,Horror|Thriller,Lakeshore Entertainment|Sidney Kimmel Entertai...,1/22/2014,5.1,2014
233,tt3014666,5000000,10429707,Moms' Night Out,Sarah Drew|Sean Astin|Patricia Heaton|Logan Wh...,Andrew Erwin|Jon Erwin,What could go wrong?,"Yearning for an evening without their kids, so...",98,Comedy,TriStar Pictures|Provident Films|Pure Flix Ent...,3/25/2014,5.7,2014
1344,tt0356910,110000000,478207520,Mr. & Mrs. Smith,Angelina Jolie|Brad Pitt|Vince Vaughn|Adam Bro...,Doug Liman,Smart and sexy.,After five (or six) years of vanilla-wedded bl...,120,Action|Comedy|Drama|Thriller,20th Century Fox|Weed Road Pictures|Dutch Oven...,6/7/2005,6.5,2005

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [110]:
answers = {} # создадим словарь для ответов

In [247]:
# for eliminating errors while cell is repeated:
data = pd.read_csv('movie_bd_v5.csv') 

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# profit = revenue - budget
data['profit'] = data['revenue'] - data['budget']

data2 = data.copy()
# multivalue items splitting:
data2.cast = data2.cast.apply(lambda x: x.split('|'))
data2.genres = data2.genres.apply(lambda x: x.split('|'))
data2.production_companies = data2.production_companies.apply(lambda x: x.split('|'))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [141]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [142]:
# тут пишем ваш код для решения данного вопроса:

max_budget = data[data.budget == data.budget.max()]
max_budget

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [143]:
# можно добавлять разные варианты решения

data.sort_values('budget', ascending=False).head(1)

# Можно и так:
# data.groupby(['budget'])[['original_title','imdb_id']].max().sort_values(by='budget', ascending=False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [144]:
# думаю логику работы с этим словарем вы уже поняли, 
# поэтому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [145]:
data.sort_values('runtime', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [146]:
display(data.sort_values('runtime', ascending=True).head(1))

answers['3'] = 'Winnie the Pooh (tt1449283)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [147]:
answers['4'] = round(data.runtime.mean())
answers['4']

110

# 5. Каково медианное значение длительности фильмов?

In [148]:
answers['5'] = round(data.runtime.median())
answers['5']

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [149]:
# лучше код получения столбца profit вынести в Предобработку что в начале

display(data.sort_values('profit', ascending=False).head(1))

answers['6'] = 'Avatar (tt0499549)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [150]:
display(data.sort_values('profit', ascending=True).head(1))

answers['7'] = 'The Lone Ranger (tt1210819)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [151]:
answers['8'] = data[data.revenue > data.budget].count()[0]
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [152]:
display(data[data.release_year == 
             2008].sort_values('revenue', ascending=False).head(1))

answers['9'] = 'The Dark Knight (tt0468569)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [153]:
display(data[(data.release_year <= 2014) & 
             (data.release_year >= 2012)
            ].sort_values('profit', ascending=True).head(1))

answers['10'] = 'The Lone Ranger (tt1210819)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [175]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

answers['11'] = 'Drama'

import collections
collections.Counter(data.genres.str.cat(sep = 
                                        '|').split('|')).most_common(3)

[('Drama', 782), ('Comedy', 683), ('Thriller', 596)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [176]:
answers['12'] = 'Drama'

import collections
c = collections.Counter()

for genres in data2[data2.profit > 0]['genres']:
    for genre in genres:
        c[genre] += 1
c.most_common(3)

[('Drama', 560), ('Comedy', 551), ('Thriller', 446)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [165]:
answers['13'] = 'Peter Jackson'

data2.groupby(['director'])[
    'revenue'].apply(sum).sort_values(ascending = False).head(3)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [166]:
answers['14'] = 'Robert Rodriguez'

import collections
data_action = data[data.genres.str.contains('Action', na = False)]
collections.Counter(data_action.director.str.cat(sep = 
                                                 '|').split('|')
                   ).most_common(3)

[('Robert Rodriguez', 9), ('Michael Bay', 7), ('Paul W.S. Anderson', 7)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [173]:
answers['15'] = 'Chris Hemsworth'
data_actor = data.copy()
data_actor = data_actor.query('release_year == 2012')

data_actor.cast = data_actor.cast.apply(lambda x: x.split('|'))
data_actor = data_actor.explode('cast')

data_actor.groupby('cast')[
    'revenue'].apply(sum).sort_values(ascending = False).head(3)

cast
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [184]:
answers['16'] = 'Matt Damon'

data_actor = data.copy()
data_actor = data_actor[data_actor.budget > data_actor.budget.mean()]
collections.Counter(data_actor.cast.str.cat(sep = 
                                            '|').split('|')).most_common(3)

[('Matt Damon', 18), ('Adam Sandler', 17), ('Angelina Jolie', 16)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [185]:
answers['17'] = 'Action'

data_genre = data.copy()
data_genre = data[data.cast.str.contains('Nicolas Cage')]
collections.Counter(data_genre.genres.str.cat(sep = '|').split('|')).most_common(3)

[('Action', 17), ('Thriller', 15), ('Drama', 12)]

# 18. Самый убыточный фильм от Paramount Pictures

In [187]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
data_film = data.copy()
data_film = data[data.production_companies.str.contains('Paramount Pictures')]
data_film.sort_values('profit', ascending = True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [198]:
answers['19'] = 2015
data_year = data.copy()
data_year.groupby('release_year')[
    'revenue'].apply(sum).sort_values(ascending = False).head()

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [199]:
answers['20'] = 2014

data_year = data.copy()
data_year = data[data.production_companies.str.contains('Warner Bros')]
data_year.groupby('release_year')[
    'profit'].apply(sum).sort_values(ascending = False).head()

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [202]:
answers['21'] = 'Сентябрь'

data_month = data.copy()
data_month.release_date = data_month.release_date.apply(lambda x: x.split('/'))
data_month['month_release'] = data_month.release_date.apply(lambda x: x[0])
data_month.month_release.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month_release, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [214]:
answers['22'] = 450

data_summer = data_month.copy()
data_summer = data_summer[
    (data_summer.month_release == '6') |
    (data_summer.month_release == '7') |
    (data_summer.month_release == '8')]
data_summer.count()[0]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [217]:
answers['23'] = 'Peter Jackson'

data_winter = data_month.copy()
data_winter = data_winter[
    (data_winter.month_release == '12') |
    (data_winter.month_release == '1') |
    (data_winter.month_release == '2')]
collections.Counter(
    data_winter.director.str.cat(sep = '|').split('|')).most_common(3)

[('Peter Jackson', 7), ('Clint Eastwood', 6), ('Steven Soderbergh', 6)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [220]:
answers['24'] = 'Four By Two Productions'

data_title = data.copy()
data_title['title_len'] = data_title['original_title'].apply(lambda x: len(x))
data_title.production_companies = data_title.production_companies.apply(lambda x: x.split('|'))
data_title = data_title.explode('production_companies')
data_title.groupby(['production_companies'])['title_len'].agg(max).sort_values(ascending = False).head()

production_companies
Four By Two Productions                   83
Twentieth Century Fox Film Corporation    83
Walden Media                              62
Walt Disney                               62
Jim Henson Company, The                   59
Name: title_len, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [226]:
answers['25'] = 'Midnight Picture Show'

data_over = data.copy()
data_over.production_companies = data_over.production_companies.apply(lambda x: x.split('|'))
data_over['overview_len'] = data_over['overview'].apply(lambda x: len(x))
data_over = data_over.explode('production_companies')
data_over = data_over.query('overview_len > overview_len.mean()')
data_over.sort_values('overview_len', ascending =
                      False).production_companies.head()

711       Midnight Picture Show
711            Lions Gate Films
711     Lakeshore Entertainment
711          GreeneStreet Films
1373       Room 9 Entertainment
Name: production_companies, dtype: object

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [243]:
answers['26'] = ['Inside Out', 'The Dark Knight', '12 Years a Slave']

data_hit = data.copy()
data_hit = data_hit.sort_values(by='vote_average', ascending=False).head(10)
data_hit[['original_title','vote_average']]

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [248]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

import itertools
data_couple = data.copy()
lst = []
final = []
data_couple['cast_l'] = data['cast'].apply(lambda x: x.split('|'))
series = data_couple.explode('cast_l').reset_index()
for i in range(len(data_couple.cast_l)):
    pairs = list(itertools.combinations(data_couple.cast_l.iloc[i],2))
    lst.append(pairs)
    for pair_lst in lst:
        for pair in pair_lst:
            final.append(pair)

couple = pd.Series(Counter(final))
couple.sort_values(ascending = False).head(20)

Daniel Radcliffe   Emma Watson           7871
                   Rupert Grint          7871
Ben Stiller        Owen Wilson           6570
Kristen Stewart    Taylor Lautner        6409
Robert Pattinson   Taylor Lautner        6409
Kristen Stewart    Robert Pattinson      6409
Rupert Grint       Emma Watson           6356
Adam Sandler       Kevin James           5397
Liam Hemsworth     Woody Harrelson       5242
Jennifer Lawrence  Liam Hemsworth        5242
                   Josh Hutcherson       5242
                   Woody Harrelson       5242
Josh Hutcherson    Liam Hemsworth        5242
                   Woody Harrelson       5242
Johnny Depp        Paul Bettany          5045
Kristen Stewart    Peter Facinelli       4777
Robert Pattinson   Peter Facinelli       4777
Taylor Lautner     Peter Facinelli       4777
Russell Crowe      Jennifer Connelly     4772
Paul Walker        Michelle Rodriguez    4749
dtype: int64

# Submission

In [249]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '14': 'Robert Rodriguez',
 '13': 'Peter Jackson',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out', 'The Dark Knight', '12 Years a Slave'],
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [250]:
# и убедиться что ни чего не пропустил)
len(answers)

27